{% extends "base.html" %}
{% block body %}
<title>Recipe Admin</title>
<div class="w3-container">
    <h1><b class="w3-text-white">Admin</b></h1>
    <div class="recipe-container">
        <div class="w3-card-4 w3-theme-l3 w3-padding">
            <h2 class="w3-text white">Create Recipe</h2>
            <!-- form to add data to Recipes table -->
            <form action="/add_recipe" method="post">
                <!-- adds Recipe to Recipes table-->
                <label for="Rname">Name: </label>
                <input class="w3-input w3-border w3-animate-input" type="text" style="width:30%" name="Rname"><br>
                <label for="Rmeal">Meal: </label>
                <select class="w3-select" style="width:30%" name="Rmeal">
                    {% for item in meals %}
                    <option value='{{ item[0] }}'>{{ item[1] }}</option>
                    {% endfor %}
                </select><br>
                <p></p>
                <label for="Rdiff">Difficulty: </label><br>
                    <input class="w3-radio" type="radio" name="Rdiff" value="1">
                    <label for="1">1</label>
                    <input class="w3-radio" type="radio" name="Rdiff" value="2">
                    <label for="2">2</label>
                    <input class="w3-radio" type="radio" name="Rdiff" value="3">
                    <label for="3">3</label>
                    <input class="w3-radio" type="radio" name="Rdiff" value="4">
                    <label for="4">4</label>
                    <input class="w3-radio" type="radio" name="Rdiff" value="5">
                    <label for="5">5</label><br>
                <p></p>
                <input type="submit" value="Submit">
            </form>
            <p></p>
            <h2>Add Ingredients</h2>
            <!-- form that collects the recipe and number of ingredients being added before directing to the ingredients adding page-->
            <form action="/ingredient_next" method="post">
                <label for="recipe">Recipe: </label>
                <select class="w3-select" style="width:30%" name="recipe">
                    {% for item in recipes %}
                    <option value='{{ item[0] }}'>{{ item[1] }}</option>
                    {% endfor %}
                </select><br>
                <label for="inum">Number of Ingredients:</label>
                <input class="w3-input w3-border" type="number" style="width:40%" name="inum" min="1" max="20"><br>
                <input type="submit" value="Next">
            </form>
        </div>
        <div></div>
        <div class="w3-card-4 w3-theme-l3 w3-padding">
            <h2 class="w3-text white">Create Ingredient</h2>
        </div>
    </div>
</div>
{% endblock %}