{% extends "base.html" %}
{% block body %}
<title>Penny's Recipe Book</title>
<div class="w3-container">
    <h1><b class="w3-text-white">Penny's Recipe Book</b></h1>
    <div class="w3-display-topright w3-padding">
      <!-- login button -->
      {% if userID %}
        <a href="/user/{{ userID }}"><button class="w3-btn w3-theme-l4">User Page</button></a>
      {% else %}
        <a href="/loginpage"><button class="w3-btn w3-theme-l4">Login</button></a>
      {% endif %}
    </div>
    <!-- Displays all recipes in a grid -->
    <div class="home-container">
        <div>
            <!-- search bar and filtering -->
            <input class="w3-input w3-border w3-padding" type="text" placeholder="Search recipe name..." id="search" onkeyup="SearchFunction()">
            <p></p>
            <!-- dropdown menu to filter by meal -->
            <div>
              <button onclick="mealFunction()" class="w3-button w3-theme-l4">Filter by Meal <i class="fa fa-angle-down"></i></button>
              <div id="meal" class="w3-dropdown-content w3-bar-block w3-border">
                <a href="/" class="w3-bar-item w3-button">All</a>
                {% for item in meals %}
                <a href="/meal/{{ item[0] }}" class="w3-bar-item w3-button">{{ item[0] }}</a>
                {% endfor %}
              </div>
              <div>
                <!-- a little space -->
                <P></P>
              </div>
              <!-- dropdown menu to filter by difficulty -->
              <div onclick="diffFunction()" class="w3-dropdown-click">
                <button class="w3-button w3-theme-l4">Filter by Difficulty  <i class="fa fa-angle-down"></i></button>
                <div id="diff" class="w3-dropdown-content w3-bar-block w3-border">
                  <a href="/" class="w3-bar-item w3-button">All</a>
                  <a href="/diff/1" class="w3-bar-item w3-button">1</a>
                  <a href="/diff/2" class="w3-bar-item w3-button">2</a>
                  <a href="/diff/3" class="w3-bar-item w3-button">3</a>
                  <a href="/diff/4" class="w3-bar-item w3-button">4</a>
                  <a href="/diff/5" class="w3-bar-item w3-button">5</a>
                </div> 
              </div>
              <div>
                <P></P>
              </div>
              <!-- dropdown menu to filter by ingredient -->
              <div class="w3-dropdown-click">
                <button class="w3-button w3-theme-l4" onclick="foodFunction()">Filter by Ingredient <i class="fa fa-angle-down"></i></button>
                <div id="food" class="w3-dropdown-content w3-bar-block w3-border">
                  <input class="w3-input w3-padding" type="text" placeholder="Search ingredients..." id="foodinput" onkeyup="foodsearch()">
                  <a href="/" class="w3-bar-item w3-button">All</a>
                  {% for item in food %}
                  <a href="/food/{{ item[0] }}" class="w3-bar-item w3-button">{{ item[0] }}</a>
                  {% endfor %}
                </div>
              </div>
            </div>
        </div>
        <!-- recipes displayed in a grid-->
        <div class="grid-recipe" id="RecipeDiv">
          {% for item in results %}
          <div class="w3-padding"> 
            <div class="w3-card w3-theme-l4">
              <a href="/recipe/{{ item[1] }}"><img src="/static/images/{{ item[1] }}.jpg" width="100%" height="400" style="object-fit: cover" class="w3-hover-opacity"></a>
              <div class="w3-container">
                <h4 class="title"><a href="/recipe/{{ item[1] }}">{{ item[1] }}</a></h4>
                <!-- Credit to Charlotte for help with above line-->
                <p>Meal: {{ item[2] }}</p>
                <p>Difficulty: {{ item[3] }}</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
    </div>
</div>

<script>
// fucntion for search bar
function SearchFunction() {
  var input, filter, cards, cardContainer, title, i;
  input = document.getElementById("search");
  filter = input.value.toUpperCase();
  cardContainer = document.getElementById("RecipeDiv");
  cards = cardContainer.getElementsByClassName("w3-padding");
  for (i = 0; i < cards.length; i++) {
    title = cards[i].querySelector(".title");
    if (title) {
      txtValue = title.textContent || title.innerText;
      if (title.innerText.toUpperCase().indexOf(filter) > -1) {
      cards[i].style.display = "";
      } else {
        cards[i].style.display = "none";
      }
    }
  }
}
// functions for dropdowns
function mealFunction() {
  var x = document.getElementById("meal");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}

function diffFunction() {
  var x = document.getElementById("diff");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}

function foodFunction() {
  var x = document.getElementById("food");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}

// function for ingredient search
function foodsearch() {
  const input = document.getElementById("foodinput");
  const filter = input.value.toUpperCase();
  const div = document.getElementById("food");
  const a = div.getElementsByTagName("a");
  for (let i = 0; i < a.length; i++) {
    txtValue = a[i].textContent || a[i].innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      a[i].style.display = "";
    } else {
      a[i].style.display = "none";
    }
  }
}
</script>
{% endblock %}