{% extends "base.html" %}
{% block body %}
<title>Recipe Book</title>
<div class="w3-container">
    <h1>Recipe Book</h1>
    <!-- Displays all recipes in a table -->
    <div class="home-container">
        <div>
            <!-- search bar and filtering -->
            <input class="w3-input w3-border w3-padding" type="text" placeholder="Search recipe name..." id="search" onkeyup="SearchFunction()">
        </div>
        <div>
            <!-- a little space -->
            <P></P>
        </div>
        <div>
            <table class="w3-striped" id="RecipeTable">
                <tr>
                    <th>ID</th>
                    <th>Recipe</th>
                    <th>Meal</th>
                    <th>Difficulty</th>
                </tr>
                {% for item in results %}
                <tr>
                    <td>{{ item[0] }}</td>
                    <td><a href="/recipe/{{ item[1] }}">{{ item[1] }}</a></td>
                    <!-- Credit to Charlotte for help with above line-->
                    <td>{{ item[2] }}</td>
                    <td>{{ item[3] }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
<script>
    <!-- fucntion for search bar -->
    function SearchFunction() {
      var input, filter, table, tr, td, i;
      input = document.getElementById("search");
      filter = input.value.toUpperCase();
      table = document.getElementById("RecipeTable");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[1];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
    </script>
{% endblock %}