{% extends "base.html" %}
{% block body %}
<title>Recipe Book</title>
<div class="w3-container">
    <h1>Recipe Book</h1>
    <!-- Displays all recipes in a table -->
    <div class="home-container">
        <div>
            <!-- search bar and filtering -->
            <input class="w3-input w3-border w3-padding" type="text" placeholder="Search recipe name..." id="search" onkeyup="SearchFunction()">
            <p></p>
            <!-- dropdown menu to filter by meal -->
            <div class="w3-dropdown-hover">
              <button class="w3-button w3-white">Filter by Meal  <i class="fa fa-angle-down"></i></button>
              <div class="w3-dropdown-content w3-bar-block w3-border">
                <a href="/" class="w3-bar-item w3-button">All</a>
                <a href="/meal/Basic" class="w3-bar-item w3-button">Basic</a>
                <a href="/meal/Dinner" class="w3-bar-item w3-button">Dinner</a>
                <a href="/meal/Dessert" class="w3-bar-item w3-button">Dessert</a>
                <a href="/meal/Finger Food" class="w3-bar-item w3-button">Finger Food</a>
                <a href="/meal/Brunch" class="w3-bar-item w3-button">Brunch</a>
                <a href="/meal/Baking" class="w3-bar-item w3-button">Baking</a>
                <a href="/meal/Toppings" class="w3-bar-item w3-button">Toppings</a>
                <a href="/meal/Drinks" class="w3-bar-item w3-button">Drinks</a>
              </div>            
            </div>
        </div>
        <div>
            <!-- a little space -->
            <P></P>
        </div>
        <div>
            <table class="w3-table-all" id="RecipeTable">
                <tr>
                    <th>ID</th>
                    <th>Recipe</th>
                    <th>Meal</th>
                    <th>Difficulty</th>
                </tr>
                {% for item in results %}
                <tr>
                    <td>{{ item[0] }}</td>
                    <td><a href="/recipe/{{ item[1] }}">{{ item[1] }}</a></td>
                    <!-- Credit to Charlotte for help with above line-->
                    <td>{{ item[2] }}</td>
                    <td>{{ item[3] }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
<script>
  // fucntion for search bar
  function SearchFunction() {
    var input, filter, table, tr, td, i;
    input = document.getElementById("search");
    filter = input.value.toUpperCase();
    table = document.getElementById("RecipeTable");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[1];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
  
</script>
{% endblock %}