{% extends "base.html" %}
{% block body %}
<title>{{ recipe }}</title>
<h1>{{ recipe }}</h1>
<h2>Ingredients</h2>
<table class="w3-striped">
    <tr>
        <th>Ingredient</th>
        <th>Quantity</th>
        <th>Measure</th>
    </tr>
    {% for item in ingred %}
    <tr>
        <td>{{ item[0] }}</td>
        <td>{{ item[1] }}</td>
        <td>{{ item[2] }}</td>
    </tr>
    {% endfor %}
</table>
<h2>Instructions</h2>
<table class="w3-striped">
    <tr>
        <th>Step</th>
        <th>Instruction</th>
    </tr>
    {% for item in instr %}
    <tr>
        <td>{{ item[0] }}</td>
        <td>{{ item[1] }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}