{% extends "base.html" %}
{% block body %}
<title>{{ recipe }}</title>
<div class="w3-container">
    {% if userID %}
        {% if fav %}
            <h1>{{ recipe }} <a href="/unlike/{{ recipe }}"><button class="w3-button w3-circle w3-xlarge w3-white"><i class="fa fa-heart w3-large"></i></button></h1></a>
        {% else %}
            <h1>{{ recipe }} <a href="/like/{{ recipe }}"><button class="w3-button w3-circle w3-xlarge w3-white"><i class="fa fa-heart-o w3-large"></i></button></h1></a>
        {% endif %}
    {% else %}
        <h1>{{ recipe }}</h1>
    {% endif %}
    <div class="recipe-container">
        <div>
        <h2>Ingredients</h2>
        <!-- Displays ingredients for recipe -->
        <div class="w3-container w3-theme-l4">
            {% for item in ingred %}
            <p>{{ item[1] }} {{ item[2] }} {{ item[0] }}</p>
            {% endfor %}
        </div>
        <h2>Instructions</h2>
        <!-- Displays instructions for recipe -->
        <div class="w3-theme-l4 instr-container">
            {% for item in instr %}
            <div class="w3-container"><p><b>{{ item[0] }}</b></p></div>
            <div class="w3-container"><p>{{ item[1] }}</p></div>
            {% endfor %}
        </div>
            <p></p>
            <!-- back button -->
            <a href="/"><button class="w3-btn w3-theme-l4"><i class="fa fa-caret-left"></i></button></a>
        </div>
        <div></div>
        <!-- image of food -->
        <div class="image-container">
            <div></div>
            <div>
                <div class="w3-card w3-theme-l4">
                    <img src="/static/images/{{ recipe }}.jpg" class="w3-padding" width="100%" style="object-fit: contain; padding:4px">
                </div>
                <div></div>
            </div>
            <div></div>
        </div>
    </div>
</div>
{% endblock %}