{% extends "base.html" %}
{% block body %}
<h1>{{  name  }}</h1>
<div>
    <button onclick="foodFunction()" class="w3-button w3-white">Filter by Ingredient <i class="fa fa-angle-down"></i></button>
    <div id="food" class="w3-dropdown-content w3-bar-block w3-border">
      <a href="/testing" class="w3-bar-item w3-button">All</a>
      {% for item in food %}
      <a href="/testing/{{ item[0] }}" class="w3-bar-item w3-button">{{ item[0] }}</a>
      {% endfor %}
    </div>
</div>
<div>
    <table class="w3-table-all" id="RecipeTable">
        <tr>
            <th>ID</th>
            <th>Recipe</th>
            <th>Meal</th>
            <th>Difficulty</th>
        </tr>
        {% for item in results %}
        <tr>
            <td>{{ item[0] }}</td>
            <td><a href="/recipe/{{ item[1] }}">{{ item[1] }}</a></td>
            <td>{{ item[2] }}</td>
            <td>{{ item[3] }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

<script>
    function foodFunction() {
        var x = document.getElementById("food");
        if (x.className.indexOf("w3-show") == -1) {
          x.className += " w3-show";
        } else { 
          x.className = x.className.replace(" w3-show", "");
        }
    }
</script>
{% endblock %}